@import url('https://webfontworld.github.io/sunn/SUIT.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "SUIT", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  word-break: keep-all;
}

.loader {
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #FFF;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  animation: animloader 2s ease-in-out infinite;
}

@keyframes animloader {
  0%, 100% {
    transform: scale(0);
    opacity: 1;
}
  50% {
    transform: scale(1);
    opacity: 0;
}
}

.loader-light {
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}